@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Chakra Petch", sans-serif;
  font-style: normal;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(64, 64, 241, 0.679);
  background-position: center;
  background-size: cover;
}

h1 {
  font-size: 30px;
  font-weight: bold;
  color: purple;
  position: absolute;
  top: 3px;
}

.card {
  width: 40%;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 30px #591f4d;
  border: 5px solid rgba(128, 0, 128, 0.533);
  border-radius: 7px;
  border-style: double;
  background-color: #010e38;
  position: relative;
  overflow: hidden;
}

.card .cheering {
  width: 200px;
  filter: drop-shadow(0 0 5px rgb(26, 236, 26));
  position: absolute;
  bottom: -65px;
  left: -10px;
}

.card-title {
  text-align: center;
  width: 100%;
  height: 10vh;
  padding: 18px 0;
  border-bottom: 5px solid rgba(128, 0, 128, 0.533);
  border-style: double;
  position: relative;
  overflow: hidden;
}

/* logo */
.card-title .logo {
  width: 80%;
  height: 8vh;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 23px;
  left: 60px;
}

.card-title .logo .pet {
  width: 70px;
  height: 60px;
  filter: drop-shadow(0 0 5px rgb(36, 240, 36));
}

.card-title h2 {
  font-size: 27px;
  font-weight: bolder;
  color: rgb(10, 246, 10);
  text-shadow: 0px 0px 20px #ffffff;
}

.card-body {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card-body span {
  font-size: 18px;
  font-weight: 600;
  color: rgb(9, 234, 54);
  padding: 20px 0;
}

.card-body p {
  font-size: 18px;
  font-weight: 600;
  color: rgb(9, 234, 54);
  padding: 20px 0;
}

.card-body p:nth-child(2) {
  padding: 0;
}

.card-body p:nth-child(4) {
  padding: 0;
}

.btn {
  width: 130px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Chakra Petch", sans-serif;
  background-color: rgba(128, 0, 128, 0.533);
  border: 1px solid #36de54;
  border-radius: 5px;
  margin: 15px 0;
}

.guess {
  text-align: center;
  color: red !important;
  margin-right: 5px;
  border-style: inset;
}

.btn-check {
  color: #ddd;
  margin-left: 5px;
  border-style: outset;
}

.btn-replay {
  position: absolute;
  display: none;
  bottom: 40px;
  right: 39%;
  color: red;
  box-shadow: 0 0 10px white;
  background-color: rgb(17, 236, 17);
  border-radius: 50% !important;
  border-style: solid;
}

.btn:focus {
  outline: 0;
  box-shadow: 0px 0px 15px rgb(63, 63, 201);
}

.rem-val {
  color: red !important;
}

.result {
  margin-top: -100px;
  text-shadow: 0 0 100px white;
  font-size: 70px !important;
  position: absolute;
}

.credit {
  font-size: 13.5px;
  color: pink;
  position: absolute;
  bottom: 15px;
}
